# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Universidad_Repositorio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
